.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
*.vsix
.DS_Store
.nyc_output
coverage/
**/*.test.js
**/*.test.ts
test/**
tests/**
**/.github/**
**/README.md
**/CHANGELOG.md
**/.gitattributes
**/.gitmodules
**/package-lock.json
**/yarn.lock
**/.editorconfig
**/.eslintignore
**/.prettierrc
**/.prettierignore
**/webpack.config.js
**/rollup.config.js
**/babel.config.js
**/.babelrc
**/jest.config.js
**/.jestrc
**/mocha.opts
**/.mocharc.json
**/karma.conf.js
**/protractor.conf.js
**/tslint.json
**/.travis.yml
**/.circleci/**
**/.github/**
**/appveyor.yml
**/azure-pipelines.yml
**/.gitlab-ci.yml
**/Jenkinsfile
**/docker-compose.yml
**/Dockerfile
**/.dockerignore
**/Makefile
**/CMakeLists.txt
**/configure
**/autogen.sh
**/install.sh
**/build.sh
**/deploy.sh
**/run.sh
**/start.sh
**/stop.sh
**/restart.sh
**/setup.py
**/requirements.txt
**/Pipfile
**/Pipfile.lock
**/poetry.lock
**/pyproject.toml
**/Cargo.toml
**/Cargo.lock
**/go.mod
**/go.sum
**/composer.json
**/composer.lock
**/Gemfile
**/Gemfile.lock
**/mix.exs
**/mix.lock
**/pubspec.yaml
**/pubspec.lock
**/Package.swift
**/project.clj
**/deps.edn
**/shadow-cljs.edn
**/lein-env
**/profiles.clj
**/build.gradle
**/gradle.properties
**/gradlew
**/gradlew.bat
**/settings.gradle
**/pom.xml
**/build.xml
**/ivy.xml
**/project.xml
**/build.sbt
**/project/**
**/target/**
**/dist/**
**/build/**
# **/out/** - Keep compiled JS files for extension
**/bin/**
**/obj/**
**/lib/**
**/libs/**
**/vendor/**
**/vendors/**
**/third_party/**
**/external/**
**/deps/**
**/dependencies/**
**/packages/**
**/pkg/**
**/tmp/**
**/temp/**
**/cache/**
**/logs/**
**/log/**
**/*.log
**/*.tmp
**/*.temp
**/*.cache
**/*.pid
**/*.lock
**/*.swp
**/*.swo
**/*.bak
**/*.backup
**/*.orig
**/*.rej
**/*.patch
**/*.diff
**/*.tar
**/*.tar.gz
**/*.tar.bz2
**/*.tar.xz
**/*.zip
**/*.rar
**/*.7z
**/*.gz
**/*.bz2
**/*.xz
**/*.Z
**/*.lz
**/*.lzma
**/*.lzo
**/*.rz
**/*.sz
**/*.dz
**/*.tbz2
**/*.tgz
**/*.txz
**/*.tlz
**/*.war
**/*.jar
**/*.ear
**/*.sar
**/*.rar
**/*.ace
**/*.zoo
**/*.cpio
**/*.7z
**/*.rz
**/*.cab
**/*.wim
**/*.swm
**/*.dwm
**/*.esd
**/*.dmg
**/*.iso
**/*.img
**/*.mdf
**/*.mds
**/*.mdx
**/*.nrg
**/*.ccd
**/*.cue
**/*.bin
**/*.dao
**/*.tao
**/*.vcd
**/*.gho
**/*.ghs
**/*.v2i
**/*.fcd
**/*.pdi
**/*.ncd
**/*.udf
**/*.cdi
**/*.b5t
**/*.b6t
**/*.bwt
**/*.cif
**/*.p01
**/*.pxi
**/*.xmd
**/*.vc4
**/*.000
**/*.001
**/*.002
**/*.003
**/*.004
**/*.005
**/*.006
**/*.007
**/*.008
**/*.009